/*
Name : Becaria.xyz - Empleos para Chicas
Author : Rabonadev
Author URL : https://themeforest.net/user/rabonadev
*/
/*===================
	Table of contents:
	- Import Fonts
	- General
	- Button
	- Navbar
	- Slider
	- Form Search
	- Job Category
	- Jobs Featured
	- Promote
	- List Jobs
	- Jobs Details
	- Profile Candidates
	- Profile Employers
	- Candidates 
	- Employers
	- Blog
	- Blog single
	- Login
	- Register
	- 404 pages
	- Testimonial
	- Faq
	- Footer
	
===================*/

/*===================
	import fonts
===================*/
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800|Playfair+Display:400,700,900|Roboto+Condensed:400,700');

/*===================
	general
===================*/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #888;
	font-family: 'Muli', sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	color: #343434;
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

a {
	color: #333;
}

p {
	margin: 8px 0 10px 0;
	line-height: 18px;
}

/*===================
	button
===================*/
.button {
	background: #42cb6f;
	border: 0;
	border-color: transparent;
	color: #fff;
	padding: 4px 12px;
	border-radius: 2px;
	font-size: 13px;
	font-weight: 400;
}

/*===================
	navbar
===================*/
.navbar {
	width: 100%;
	height: 60px;
	padding: 15px 0;
	z-index: 9;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-bottom: 2px solid #f5f5f5;
}

.navbar .panel-control-right {
	float: right;
	font-size: 20px;
}

.navbar .panel-control-left {
	float: left;
	font-size: 20px;
}

.site-title {
	display: inline-block;
	position: relative;
	top: -3px;
}

.site-title h1 {
	font-size: 28px;
	padding: 0;
	margin: 0;
	font-weight: 700;
	color: #42cb6f;
	padding-top: 2px;
	font-family: 'Playfair Display', serif;
}

.site-title h1 i {
	color: #42cb6f;
	font-size: 32px;
	margin-left: 2px;
}

.side-nav a {
	padding: 0 16px;
}

.side-nav a:hover {
	background: transparent;
}

/*panel control left*/
.panel-control-left .sidenav-control-left i {
	color: #33261c;
}

.panel-control-left ul {
	padding-top: 20px;
	padding: 10px 0;
}

.panel-control-left ul li {
	
}

.panel-control-left ul li a {
	font-size: 14px;
}

.panel-control-left .side-nav li a i {
	margin-right: 5px;
	color: #42cb6f;
}

.panel-control-left .side-nav .collapsible-header {
	font-size: 14px;
	color: rgba(0,0,0,0.87);
}

.panel-control-left .side-nav .collapsible-header span i {
	float: right;
	text-align: right;
	font-size: 12px;
}

.panel-control-left .side-nav .collapsible-header:hover {
	background: transparent;
}

.panel-control-left .side-nav .collapsible-header.active {
	border-bottom: dotted 1px #ddd;
}

.panel-control-left .side-nav li.active {
	border-bottom: solid 1px #eee;
	background: transparent;
}

.panel-control-left .side-nav .collapsible-header i {
	color: #42cb6f;
	font-size: 16px;
	width: 24px;
	margin-right: 5px;
	text-align: left;
}

.panel-control-left .collapsible-body ul {
	padding: 0 0 0 0;
	margin: 0;
}

.panel-control-left .collapsible-body ul li a {
	padding-left: 45px;
	height: 40px;
	line-height: 40px;
}

.panel-control-left .categories-in li {
	line-height: 40px;
}

.panel-control-left .categories-in .collapsible-body ul li a {
	height: 36px;
	line-height: 36px;
}

.panel-control-left .categories-in .collapsible-header {
	padding-left: 45px;
}

.panel-control-left .categories-in .collapsible-body ul li a {
	padding-left: 60px;
}

/*===================
	slider
===================*/
.slider-slick {
	position: relative;
	overflow: hidden;
}

.slider-slick .slider-entry {
	position: relative;
	height: 320px;
}


@media (min-width: 768px) {
	.slider-slick .slider-entry {
		position: relative;
		height: 430px;
	}
}

.slider-slick .overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
}

.slider-slick img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider-slick .caption {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 35%;
	color: #fff;
	z-index: 999;
	overflow-wrap: break-word;
	text-align: center;
}

.slider-slick .caption h2 {
	letter-spacing: 1px;
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	font-family: 'Playfair Display', serif;
}

.slider-slick .slick-dots {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
}

.slider-slick .slick-dots li {
	width: auto;
}

.slider-slick .slick-dots li button {
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
}

.slider-slick .slick-dots li button {
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
}

.slider-slick .slick-dots li.slick-active button {
	background: #42cb6f;
}

.slider-slick .slick-dots li button::before {
	font-size: 0;
	color: transparent;
}

.slick-prev, .slick-next {
	top: 50%;
}

.slider-slick .slick-next {
	right: 10px;
}

.slider-slick .slick-prev {
	left: 10px;
	z-index: 1;
}

.slick-prev::before {
	content: "\f053";
	font-family: FontAwesome;
	color: #eee;
}

.slick-next::before {
	content: "\f054";
	font-family: FontAwesome;
	color: #eee;
}

/*===================
	form search
===================*/
.form-search {
	position: relative;
	top: -45px;
	margin-bottom: -45px;
	padding-bottom: 40px;
}

.form-search-entry {
	background: #fff;
    background-size: cover;
	padding: 25px 20px 20px;
	border-radius: 1px;
	border: 1px solid #ddd;
	border-top: 2px solid #ddd;
}

.form-search-entry input {
	background: #fff;
	border-color: #ddd !important;
}

.form-search-entry .select-wrapper input.select-dropdown {
	background: #fff;
	border-color: #ddd;
	color: #999;
	line-height: 20px;
}

.form-search-entry .select-wrapper span.caret {
	right: 10px;
	color: #777;
	z-index: 1;
}

.form-search-entry .dropdown-content li > a, .dropdown-content li > span {
	color: #888;
}

.form-search-entry .row {
	margin-bottom: 0;
}

/*===================
	job category
===================*/
.job-category .entry {
	text-align: center;
	border: 1px solid #ccc;
	padding: 20px;
	border-bottom: 2px solid #ccc;
	border-radius: 3px;
}

.job-category .entry i {
	font-size: 25px;
	color: #222;
}

.job-category .entry h5 {
	font-size: 18px;
	margin-top: 8px;
}

/*===================
	jobs
===================*/
.jobs .entry {
	border: 1px solid #ddd;
}
.jobs .entry img {
	width: 100%;
	height: 100%;
}

.jobs .entry .content {
	padding: 8px 10px 12px;
}

.jobs .entry .content h5 {
	font-size: 16px;
}

.jobs .entry .content span {
	font-size: 12px;
	display: block;
}

.jobs .entry .content span i {
	margin-right: 5px;
}

.jobs .entry .content .long {
	font-weight: 700;
	background: #42cb6f;
	color: #fff;
	padding: 0 6px;
	font-size: 12px;
	display: inline-block;
	margin-top: 8px;	
}

.jobs .entry .content .location {
	font-size: 14px;
}

.jobs .entry .content .location i {
	margin-right: 6px;
}

/*===================
	jobs promote
===================*/
.jobs-promote {
	background: url(../img/promote.jpg) center no-repeat;
	background-size: cover;
	color: #fff;
}

.jobs-promote h4 {
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
}

.jobs-promote .app-title,
.jobs-promote .app-title .line {
	margin-bottom: 0 !important;
}

.jobs-promote .button {
	margin-top: 5px;
}

/*===================
	jobs search
===================*/
.jobs-search-entry {
	background: #fff;
    background-size: cover;
	padding: 25px 20px 20px;
	border-radius: 1px;
	border: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-bottom: 20px;
}

.jobs-search-entry input {
	background: #fff;
	border-color: #ddd !important;
}

.jobs-search-entry .select-wrapper input.select-dropdown {
	background: #fff;
	border-color: #ddd;
	color: #999;
	line-height: 20px;
}

.jobs-search-entry .select-wrapper span.caret {
	right: 10px;
	color: #777;
	z-index: 1;
}

.jobs-search-entry .dropdown-content li > a, .dropdown-content li > span {
	color: #888;
}

.jobs-search-entry .row {
	margin-bottom: 0;
}

/*===================
	list jobs
===================*/
.list-jobs .head h5 {
	font-size: 18px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 6px;
}

.list-jobs .head h5 span {
	color: #42cb6f;
}

.list-jobs .entry {
	border: 1px solid #ddd;
	border-bottom: 0;
}

.list-jobs .entry .content {
	padding: 18px 10px 14px;
	border-bottom: 1px solid #ddd;
}

.list-jobs .entry .content h5 {
	font-size: 16px;
}

.list-jobs .entry .content span {
	font-size: 12px;
	display: block;
}

.list-jobs .entry .content span i {
	margin-right: 5px;
}

.list-jobs .entry .content .long {
	font-weight: 700;
	background: #42cb6f;
	color: #fff;
	padding: 0 6px;
	font-size: 12px;
	display: inline-block;
	margin-top: 8px;	
}

.list-jobs .entry .content .location {
	font-size: 14px;
}

.list-jobs .entry .content .location i {
	margin-right: 6px;
}

.list-jobs .pagination ul {
	margin-top: 20px;
	list-style: none;
	text-align: center;
}

.list-jobs .pagination ul li {
	display: inline-block;
	background: #f3f3f3;
	margin: 0 2px;
	border: 1px solid #dedede;
}

.list-jobs .pagination ul .active {
	background: #42cb6f;
	color: #fff;
	border-color: #42cb6f;
}

.list-jobs .pagination li a {
	font-size: 14px;
	line-height: 27px;
}


/*===================
	details
===================*/
.details h3 {
	font-size: 20px;
	margin-top: 10px;
}

.details img {
	width: 100%;
	height: 100%;
}

.details span {
	display: block;
}

.details .long {
	font-weight: 700;
	background: #42cb6f;
	color: #fff;
	padding: 0 6px;
	font-size: 12px;
	display: inline-block;
	margin-top: 8px;	
}

.details .location {
	font-size: 16px;
}

.details .location i {
	margin-right: 6px;
}

.details .calendar {
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

.details .calendar li {
	display: inline-block;
	margin-right: 5px;
}

.details .button-ul li {
	display: inline-block;
}

.in-details h4 {
	font-size: 20px;
	margin-top: 30px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 8px;
	margin-bottom: 18px;
}

.details .post-comment {
	margin-top: 25px;
}

.details .post-comment .content {
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 10px;
}

.details .post-comment .content textarea {
	margin-bottom: 20px;
}

.details .post-comment .content span {
	margin: 0;
	padding: 0;
	position: relative;
	top: -7px;
	color: #555;
	font-weight: 700;
}

.details .post-comment .content [type="file"] {
	margin-bottom: 20px;
}

/*===================
	rating
===================*/

.rating {
	font-size: 12px;
	margin-top: 5px;
}

.rating .active {
	color: #fecd2d;
}

/*===================
	section, title and bg
===================*/
.app-section {
	padding: 20px 0 30px 0;
}

.app-section-home {
	padding: 35px 0 30px 0;
}


.app-pages {
	margin-top: 60px;
}

.app-title {
	text-align: center;
	margin-bottom: 25px;
}

.app-title h4 {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #333;
	text-align: center;
	margin-bottom: 10px;
}

.app-title i {
	color: #42cb6f;
	font-size: 16px;
}

.app-title .line {
	padding: 0;
	background: #42cb6f;
	height: 2px;
	margin: -2px auto 5px;
	width: 40px;
}

.app-title .line li {
	display: inline-block;
}

.app-title .line li i {
	color: #42cb6f;
}

.app-title .line .line-center {
	font-size: 20px;
	vertical-align: middle;
}

.pages-title {
	margin-bottom: 20px;
	text-align: center;
}

.pages-title h3 {
	font-size: 22px;
	font-family: 'Muli', sans-serif;
	font-weight: 600;
	color: #444;
}

.app-bg-dark {
	background: #f4f4f4;
}

.app-bg-light {
	background: #fff;
}

.app-bg-light .entry {
	background: #f3f3f3;
}

.app-last-row {
	margin-bottom: 0;
}

.trash-mb {
	margin-bottom: 0;
}

/*===================
	profile candidates
===================*/
.candidates-profile .title {
	margin-top: 15px;
}

.candidates-profile .title h5 {
	font-size: 18px;
	margin-bottom: 8px;
}

.candidates-profile .head {
	text-align: center;
	background: #f9f9f9;
	padding: 20px 15px;
}

.candidates-profile .head span {
	display: block;
	margin-bottom: 8px;
}

.candidates-profile .head img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-bottom: 8px;
}

.candidates-profile .head h6 {
	margin-top: 5px;
	font-size: 15px;
	color: #444;
}

.candidates-profile .head i {
	margin-right: 8px;
}

.candidates-profile .work .entry {
	background: #f9f9f9;
	padding: 20px 15px 15px;
	border-bottom: 6px solid #fff;
}

.candidates-profile .work .entry h5 {
	font-size: 17px
}

.candidates-profile .work .entry h6 {
	font-size: 14px;
	color: #555;
	margin-top: 5px
}

.candidates-profile .work .entry span {
	border-bottom: 1px solid #ddd;
	display: block;
}

.candidates-profile .education .entry {
	background: #f9f9f9;
	padding: 20px 15px 15px;
	border-bottom: 6px solid #fff;
}

.candidates-profile .education .entry h5 {
	font-size: 17px
}

.candidates-profile .education .entry h6 {
	font-size: 14px;
	color: #555;
	margin-top: 5px
}

.candidates-profile .education .entry span {
	border-bottom: 1px solid #ddd;
	display: block;
}

/*===================
	profile employers
===================*/
.employers-profile .title {
	margin-top: 15px;
}

.employers-profile .title h5 {
	font-size: 18px;
	margin-bottom: 8px;
}
.employers-profile .head {
	text-align: center;
	background: #f9f9f9;
	padding: 20px 15px;
}

.employers-profile .head img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-bottom: 8px;
}

.employers-profile .head h6 {
	margin-top: 5px;
	font-size: 15px;
	color: #444;
}

.employers-profile .head i {
	margin-right: 8px;
}

.employers-profile .head p {
	margin: 0;
}

.employers-profile .benefits .entry {
	background: #f9f9f9;
	padding: 20px 15px 15px;
	border-bottom: 6px solid #fff;
}

.employers-profile .benefits .entry h5 {
	font-size: 17px
}

.employers-profile .career .entry h6 {
	font-size: 14px;
	color: #555;
	margin-top: 5px
}

.employers-profile .career .entry span {
	border-bottom: 1px solid #ddd;
	display: block;
}

.employers-profile .career .entry {
	background: #f9f9f9;
	padding: 20px 15px 15px;
	border-bottom: 6px solid #fff;
}

.employers-profile .career .entry h5 {
	font-size: 17px
}

.employers-profile .career .entry h6 {
	font-size: 14px;
	color: #555;
	margin-top: 5px
}

.employers-profile .career .entry span {
	border-bottom: 1px solid #ddd;
	display: block;
}

/*===================
	candidates
===================*/
.candidates .category .select-wrapper span.caret {
	padding-right: 12px;
}

.candidates .entry {
	background: #f9f9f9;
}

.candidates .entry img {
	width: 100%;
	height: 100%;
}

.candidates .entry .post {
	padding: 5px 12px 15px;
}

.candidates .entry .post h5 {
	font-size: 17px;
}

.candidates .entry .post span {
	color: #42cb6f;
	display: block;
}

/*===================
	employers
===================*/
.employers .category .select-wrapper span.caret {
	padding-right: 12px;
}

.employers .entry {
	background: #f9f9f9;
}

.employers .entry img {
	width: 100%;
	height: 100%;
}

.employers .entry .post {
	padding: 5px 12px 15px;
}

.employers .entry .post h5 {
	font-size: 17px;
}

.employers .entry .post span {
	color: #42cb6f;
	display: block;
}

/*===================
	blog
===================*/
.blog {
	position: relative;
}

.blog .entry {
	margin-bottom: 30px;
}

.blog .entry h5 {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}

.blog .entry img {
	width: 100%;
	height: 100%;
}

.blog .entry .user-date ul {
	list-style: none;
}

.blog .entry .user-date ul li {
	display: inline-block;
	margin-right: 12px;
}

.blog .entry .user-date ul li a i {
	margin-right: 6px;
	color: #42cb6f;
}

.blog .pagination ul {
	margin-top: 40px;
	list-style: none;
	text-align: center;
}

.blog .pagination ul li {
	display: inline-block;
	background: #f3f3f3;
	margin: 0 2px;
	border: 1px solid #dedede;
}

.blog .pagination ul .active {
	background: #42cb6f;
	color: #fff;
	border-color: #42cb6f;
}

.blog .pagination li a {
	font-size: 14px;
	line-height: 27px;
}

/*===================
	blog single
===================*/
.blog-single {
	position: relative;
}

.blog-single .entry {
	margin-bottom: 30px;
}

.blog-single .entry h5 {
	font-family: 'Playfair Display', serif;
}

.blog-single .entry img {
	width: 100%;
	height: 100%;
}

.blog-single .entry .user-date ul {
	list-style: none;
}

.blog-single .entry .user-date ul li {
	display: inline-block;
	margin-right: 12px;
}

.blog-single .entry .user-date ul li a i {
	margin-right: 6px;
	color: #42cb6f;
}

.blog-single .share ul {
	list-style: none;
	margin-top: 15px;
}

.blog-single .share ul li {
	display: inline-block;
}

.blog-single .share ul li h6 {
	margin-right: 4px;
	position: relative;
	bottom: 2px;
}

.blog-single .share ul li a i {
	font-size: 20px;
	margin: 0 4px;
}

.blog-single .author {
	border-top: 1px solid #eee;
	padding-top: 20px;
	position: relative;
}

.blog-single .author .entry {
	overflow: hidden;
}

.blog-single .author p {
	margin: 8px 0;
}

.blog-single .author img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
}

.blog-single .author .entry ul {
	padding: 0;
	margin: 0;
}

.blog-single .author .entry ul li {
	display: inline-block;
	margin-right: 3px;
}

.blog-single .comment .content .entry {
	overflow: hidden;
	margin-bottom: 22px;
}

.blog-single .comment .content p {
	margin: 8px 0;
}

.blog-single .comment .content img {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 15px;
}

.blog-single .comment .content {
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 10px;
}

@media (min-width: 768px) {
	.blog-single .comment .content {
		border-top: 1px solid #eee;
		padding-top: 20px;
		margin-top: 10px;
		padding-bottom: 10px;
	}
}

.blog-single .post-comment .content {
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 10px;
}

.blog-single .post-comment .content textarea {
	margin-bottom: 20px;
}

/*===================
	submit job
===================*/
.submit-job .entry span {
	margin: 0;
    padding: 0;
    position: relative;
    top: -7px;
    color: #555;
    font-weight: 700;
    display: block;
}

.submit-job .entry [type="file"] {
	margin-bottom: 20px;
}

/*===================
	pagination
===================*/

.pagination-pages .pagination ul {
	margin-top: 40px;
	list-style: none;
	text-align: center;
}

.pagination-pages .pagination ul li {
	display: inline-block;
	background: #f3f3f3;
	margin: 0 2px;
	border: 1px solid #dedede;
}

.pagination-pages .pagination ul .active {
	background: #42cb6f;
	color: #fff;
	border-color: #42cb6f;
}

.pagination-pages .pagination li a {
	font-size: 14px;
	line-height: 27px;
}


/*===================
	form custom
===================*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"], 
input[type="number"],
input[type="date"],
.select-wrapper input.select-dropdown {
	border: 1px solid #ddd;	
	height: 32px;
	border-radius: 2px;
	width: 100%;
	overflow: visible;
	padding: 0 10px;
	box-sizing: border-box;
	color: #999;
	line-height: 20px;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]), 
input[type="number"]:focus:not([readonly]), 
input[type="date"]:focus:not([readonly]) {
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}

textarea {
	border: 1px solid #ddd;	
	border-radius: 2px;
	width: 100%;
	overflow: visible;
	padding: 10px;
	box-sizing: border-box;
	height: auto;
	margin-bottom: 20px;
}

.picker__weekday-display {
	background-color: #42cb6f;
} 

.picker__nav--prev:hover, .picker__nav--next:hover {
	background: #42cb6f;
}

.picker__date-display {
	background-color: #42cb6f;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
	background-color: #42cb6f;
}

.picker__day.picker__day--today {
	color: #42cb6f;
}

/*===================
	placeholder color
===================*/
::-webkit-input-placeholder {
   color: #999;
}

:-moz-placeholder { /* Firefox 18- */
   color: #444;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #444;  
}

:-ms-input-placeholder {  
   color: #444;  
}

/*===================
	login
===================*/ 
.login strong {
	display: block;
	position: relative;
	bottom: 5px;
}

.login .forgot {
	margin-bottom: 10px;
	display: block;
}

.login [type="checkbox"] + label {
	padding-left: 30px;
	color: #333;
}

.login [type="checkbox"]:checked + label::before {
	border-right: 2px solid #42cb6f;
border-bottom: 2px solid #42cb6f;
}

.login .button {
	margin-top: 12px;
	margin-bottom: 24px;
	width: 100%;
}

.login .create-account {
	text-align: center;
}

.login .or h5 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 40px;
	height: 40px;
	background: #42cb6f;
	color: #fff;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
	line-height: 40px;
}

.login .or .button {
	margin-top: 12px;
	margin-bottom: 12px;
}

.login .facebook {
	background: #3b5998;
}

.login .twitter {
	background: #00aced;
}

.login .google {
	background: #dd4b39;
}

/*===================
	register
===================*/
.register .button {
	margin-top: 5px;
	margin-bottom: 14px;
	width: 100%;
}

.register .login-now {
	text-align: center;
	display: block;
}

.register .or h5 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 40px;
	height: 40px;
	background: #42cb6f;
	color: #fff;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
	line-height: 40px;
}

.register .or .button {
	margin-top: 12px;
	margin-bottom: 12px;
}

.register .facebook {
	background: #3b5998;
}

.register .twitter {
	background: #00aced;
}

.register .google {
	background: #dd4b39;
}

/*===================
	404 page
===================*/
.page-404 {
	text-align: center;
}

.page-404 h3 {
	font-size: 96px;
}

.page-404 h3 span {
	color: #42cb6f;
}

.page-404 .button {
	margin: 10px 0;
	display: inline-block;
}

.page-404 .button a {
	color: #fff;
}

/*===================
	testimonial
===================*/
.testimonial {
	text-align: center;
}

.testimonial .app-title {
	margin-bottom: 0;
	font-size: 26px;
	color: #42cb6f;
}

.testimonial .app-title i {
	font-size: 22px;
}

.testimonial img {
	border-radius: 50%;
    margin: 5px 0 5px 0;
    height: 60px;
    width: 60px;
}

.testimonial .owl-theme .owl-controls .owl-page span {
	width: 10px;
	height: 10px;
}

/*===================
	faq
===================*/
.faq .collapsible {
	border: none;
	box-shadow: none;
}

.faq .collapsible li {
	margin-bottom: 6px;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.faq .collapsible li .collapsible-header {
	font-size: 16px;
	color: #666;
}

.faq .collapsible li .collapsible-header i {
	float: right;
	margin-right: 0;
	width: auto;
	font-size: 14px;
}

.faq .collapsible li .collapsible-body p {
	padding: 16px;
}

/*===================
	footer
===================*/
footer {
	background: #333;
	text-align: center;
	padding: 40px 0;
	display: block;
}

footer h6 {
	color: #eee;
}

footer .icon-social {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 20px;
	margin-bottom: 15px;
}

footer .icon-social li {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 0 3px;
	border-radius: 100%;
}

footer .icon-social .facebook {
	background: #3b5998;
}

footer .icon-social .twitter {
	background: #00aced;
}

footer .icon-social .google {
	background: #dd4b39;
}

footer .icon-social .instagram {
	background: #517fa6;
}

footer .icon-social .rss {
	background: #fe7e00;

}

footer ul li a {
	color: #fff;
}

footer .tel-fax-mail ul {
	list-style: none;
	padding: 0;
	margin: 0;
	color: #eee;
}

footer .tel-fax-mail ul li {
	padding: 4px 0;
}

footer .tel-fax-mail ul li span {
	font-weight: bold;
	padding: 0;
	margin: 0;
}

footer .ft-bottom {
	border-top: dotted 1px #aaa;
	margin-top: 20px;
	padding-top: 20px;
	color: #eee;
}